@charset "UTF-8";

/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

/* 重置字體 */
body {
    font-family: sans-serif;
    line-height: 1.2;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
}

/* main */
#main .featureArea h3 {
    color: brown;
    font-size: 26px;
    font-weight: bold;
}

#main .featureArea {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 60%;
    margin: 50px auto;
   

}

.f1,
.f2,
.f3 {
    line-height: 30px;
    text-align: center;
    /* border: 1px solid red; */
}

/* 主標 */
.sologan {
    width: 100%;
    height: 60px;
    background-color: #f14949;
    text-align: center;
}

.sologan h2 {
    color: aliceblue;
    /* 設置子層元素 line-height 與父元素同高，使文字在元素中垂直置中 */
    line-height: 60px;
    font-size: 26px;
}
/* 推薦課程 */
.main2{
    width: 60%;
    margin: 50px auto;
}
.main2 h3{
    text-align: center;
    padding: 20px 80px;
    color: rgb(8, 112, 69);
    font-size: 26px;
    font-weight: 700;
}
.bigBox{
    display: flex;
    justify-content: center;
    margin-right: 5px;
    line-height: 30px;
    
}
.box1{
    width: 350px;
    box-shadow: 0 0 3px #696868;/* 水平 垂直 模糊度(擴展) 顏色 */
    padding: 15px;
    margin-right: 20px;
}
.bigBox h4{
    font-size: 22px;
    color: rgb(0, 0, 0);
}
.bigBox h5{
    font-size: 20px;
    color: rgb(240, 24, 24);
}
.bigBox h5 span{
    text-decoration:line-through;
    font-size: 18px;
    color: rgb(85, 79, 79);
}
#font{
    color: rgb(99, 151, 194);
    line-height: 20px;
}
.btn{
    width: 100%;
    background-color: #f14949;
    color: aliceblue;
    border: none;
    line-height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    
}

/* 頁尾 */
footer{
    text-align: center;
    font-size: xx-small;
}